body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    font-size: 2rem;
    font-weight: 700;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 55%;
    width: 100%;
}

.box {
    height: 20rem;
    width: 20rem;
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
}

.tile {
    height: 2.8571rem;
    width: 2.8571rem;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.tile > div {
    max-width: fit-content;
    max-height: fit-content;
}

button {
    margin: 1rem;
    width: 5rem;
}

#container > div:last-child {
    margin-top: .5rem;
    font-size: .75rem;
    color: rgb(106, 104, 104);
}